<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Connect Material Kitchensink</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="../src/material.css">

        <link rel="stylesheet" href="../sprites/sprite-action-black.css">
        <link rel="stylesheet" href="../sprites/sprite-action-white.css">
        <link rel="stylesheet" href="../sprites/sprite-navigation-black.css">
        <link rel="stylesheet" href="../sprites/sprite-navigation-white.css">
        <link rel="stylesheet" href="../sprites/sprite-content-black.css">
        <link rel="stylesheet" href="../sprites/sprite-content-white.css">

        <script data-main="sink" src="bower_components/requirejs/require.js"></script>

        <style>
            .logo {
                display: inline-block;
                height: 24px;
                margin-right: 20px;
            }

            body {
                font-size: 12px;
                font-family: Helvetica;
                padding: 0;
                margin: 0;

                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                display: flex;
                flex-direction: column;
                align-items: stretch;
            }

            .page-content {
                flex: 1;
                background-color: #eee;
                position: relative;
                overflow: hidden;
            }

            .inner-content {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;                
                overflow-y: auto;
            }

            .field-birth {
                margin-right: 10px;
                flex: 2;
            }

            .field-gender {
                flex: 1;
            }

            .buttton-examples material-button:not(.material-fab) {
                min-width: 100px;
            }

            .buttton-examples material-button {
                margin: 10px;
            }

            .cell-firstName {
                flex: 1;
            }
            .cell-lastName {
                flex: 1;
            }
            .cell-dateOfBirth {
                flex: 1;
            }
            .cell-company {
                flex: 2;
            }
        </style>
    </head>

    <body ng-controller="SinkCtrl">
        <material-title>
            <img class="logo" src="https://www.schubergphilis.com/bundles/schubergfrontend/image/default/logo.svg">
            <span>Connect Material Kitchensink<span>
        </material-title>
        <material-appbar>
            <material-sidenav-button current-page="status">
                <material-item page="status">Status</material-item>
                <material-item page="runs">Runs</material-item>
                <material-item page="findings">Findings</material-item>
                <material-divider></material-divider>
                <material-item page="workspaces">Manage Workspaces</material-item>
                <material-item page="scans">Manage Scans</material-item>
            </material-sidenav-button>

            <material-title page="status">Status</material-title>

            <material-searchfield class="material-searchfield-blank" ng-model="search" placeholder="Search..."></material-searchfield>

            <material-button ng-click="openDrawer('left')">Drawer</material-button>

            <material-menu-button icon="navigation-white:apps_white" menu-config="{icons:menu.icons}">
                <material-item icon="action-black:dashboard_black">Dashboard</material-item>
                <material-item icon="action-black:credit_card_black">Credit</material-item>
                <material-item icon="action-black:account_balance_black">Balance</material-item>
                <material-divider></material-divider>
                <material-item icon="action-black:alarm_black">Set Alarm</material-item>
                <material-item icon="action-black:announcement_black">Announcements</material-item>
                <material-divider></material-divider>
                <material-checkbox ng-model="menu.icons">Menu Icons</material-checkbox>
                <material-item>Some Item</material-item>
            </material-menu-button>

            <material-menu-button icon="navigation-white:more_vert_white">
                <material-item>Menu Item 1</material-item>
                <material-item>Menu Item 2</material-item>
                <material-item>Menu Item 3</material-item>
                <material-divider></material-divider>
                <material-item>Menu Item 4</material-item>
                <material-item>Menu Item 5</material-item>
            </material-menu-button>

            <material-menu-button icon="content-white:filter_list_white">
                <material-title>List Filters</material-title>      
                <material-checkbox ng-model="filters.active">Active</material-checkbox>
                <material-checkbox ng-model="filters.pending">Long Installation Pending</material-checkbox>
                <material-checkbox ng-model="filters.decommissioned">Decommissioned</material-checkbox>
                <material-checkbox ng-model="filters.deleted">Deleted</material-checkbox>
            </material-menu-button>
        </material-appbar>

        <div class="page-content">
            <div class="inner-content">
                <material-card>
                    <material-toolbar>
                        <material-title>Card</material-title>
                        <material-searchfield ng-model="search" placeholder="Search..."></material-searchfield>
                        <material-button ng-click="openDialog('alert')" class="material-warn">Alert</material-button>
                        <material-button ng-click="openDialog('confirm')" class="material-raised material-primary">Confirm</material-button>
                        <material-button ng-click="openDrawer('right')">Forms</material-button>
                    </material-toolbar>
                    <region class="buttton-examples">
                        <material-buttonbar layout="row" layout-align="center center">
                            <material-button>Normal</material-button>
                            <material-button class="material-primary">Primary</material-button>
                            <material-button ng-disabled="true">Disabled</material-button>
                            <material-button class="material-warn">Warn</material-button>
                        </material-buttonbar>
                        <material-buttonbar layout="row" layout-align="center center">
                            <material-button class="material-raised">Normal</material-button>
                            <material-button class="material-raised material-primary">Primary</material-button>
                            <material-button class="material-raised" ng-disabled="true">Disabled</material-button>
                            <material-button class="material-raised material-warn">Warn</material-button>
                        </material-buttonbar>
                        <material-buttonbar layout="row" layout-align="center center">
                            <material-button class="material-fab" icon="action-black:alarm_black"></material-button>
                            <material-button class="material-fab" icon="action-black:dashboard_black"></material-button>
                            <material-button class="material-fab" icon="action-black:credit_card_black" ng-disabled="true"></material-button>
                            <material-button class="material-fab material-primary" icon="action-black:account_balance_black"></material-button>
                        </material-buttonbar>
                    </region>
                </material-card>

                <material-gridlist class="material-view-list">
                    <material-gridlist-sortbar>
                        <material-cell class="cell-firstName">First Name</material-cell>
                        <material-cell class="cell-lastName">Last Name</material-cell>
                        <material-cell class="cell-dateOfBirth">Date of Birth</material-cell>
                        <material-cell class="cell-company">Company</material-cell>                
                    </material-gridlist-sortbar>
                    <material-gridlist-content>
                        <material-row ng-repeat="user in gridData">
                            <material-cell class="cell-firstName">{{user.firstName}}</material-cell>
                            <material-cell class="cell-lastName">{{user.lastName}}</material-cell>
                            <material-cell class="cell-dateOfBirth">{{user.dateOfBirth}}</material-cell>
                            <material-cell class="cell-company">{{user.company}}</material-cell>
                        </material-row>
                    </material-gridlist-content>
                </material-gridlist>
            </div>

            <material-dialog dialog-id="alert">
                <material-title>Alert Dialog</material-title>
                <material-content>You have been warned sir!</material-content>
                <material-buttonbar>
                    <material-button ng-click="closeDialog('alert')" class="material-primary">Ok</material-button>
                </material-buttonbar>
            </material-dialog>

            <material-dialog dialog-id="confirm">
                <material-title>Confirm Dialog</material-title>
                <material-content>Can you please confirm that you like material?</material-content>
                <material-buttonbar>
                    <material-button ng-click="closeDialog('confirm')">Cancel</material-button>
                    <material-button ng-click="closeDialog('confirm')" class="material-primary">Ok</material-button>
                </material-buttonbar>
            </material-dialog>

            <material-drawer drawer-id="left" drawer-config="{position:'left', modal: isModal()}">
                <material-buttonbar>
                    <material-button ng-click="closeDrawer('left')">Close</material-button>
                    <material-button ng-click="openDrawer('subleft')" class="material-primary">Deeper</material-button>
                </material-buttonbar>
            </material-drawer>

            <material-drawer drawer-id="subleft" drawer-config="{position:'left'}">
                <material-buttonbar>
                    <material-button ng-click="closeDrawer('subleft')" class="material-primary">Go back</material-button>
                </material-buttonbar>
            </material-drawer>

            <material-drawer drawer-id="right" drawer-config="{position:'right'}">
                <material-title>Edit User</material-title>
                <material-content>
                    <material-textfield label="First Name" ng-model="user.firstName"></material-textfield>
                    <material-textfield label="Last Name" ng-model="user.lastName"></material-textfield>
                    <material-textfield label="Address" ng-model="user.address"></material-textfield>

                    <div layout="row">
                        <material-textfield label="Date of Birth" ng-model="user.dateOfBirth" class="field-birth"></material-textfield>
                        <material-selectfield label="Gender" ng-model="user.gender" options="['Male', 'Female']" class="field-gender"></material-selectfield>
                    </div>

                    <material-textfield label="City" ng-model="user.city"></material-textfield>
                    <material-selectfield label="State" ng-model="user.state" options="states"></material-selectfield>
                </material-content>

                <material-content>
                    <material-checkbox ng-model="user.receiveEmail">Allow us to send you email and spam your inbox forever and ever and ever...</material-checkbox>
                    <material-checkbox ng-model="user.receiveNewsletter">I want to receive newsletters</material-checkbox>
                </material-content>

                <material-buttonbar>
                    <material-button ng-click="closeDrawer('right')">Cancel</material-button>
                    <material-button ng-click="closeDrawer('right')" class="material-primary">Save</material-button>
                </material-buttonbar>
            </material-drawer>
        </div>
    </body>
</html>