<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Connect Material Kitchensink</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="../src/material.css">
        <link rel="stylesheet" href="../sprites/sprite-navigation-white.css">
        <link rel="stylesheet" href="../sprites/sprite-navigation-black.css">
        <link rel="stylesheet" href="../sprites/sprite-action-black.css">

        <script data-main="sink" src="bower_components/requirejs/require.js"></script>

        <style>
            body {
                font-size: 12px;
                font-family: Helvetica;
                padding: 0;
                margin: 0;

                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                display: flex;
                flex-direction: column;
                align-items: stretch;
            }

            .page-content {
                flex: 1;
                background-color: #eee;
                overflow: auto;
                position: relative;
            }
        </style>
    </head>

    <body ng-controller="SinkCtrl">
        <material-title>Connect Material Kitchensink</material-title>
        <material-appbar>
            <material-sidenav-button current-page="status">
                <material-item page="status">Status</material-item>
                <material-item page="runs">Runs</material-item>
                <material-item page="findings">Findings</material-item>
                <material-divider></material-divider>
                <material-item page="workspaces">Manage Workspaces</material-item>
                <material-item page="scans">Manage Scans</material-item>
            </material-sidenav-button>

            <material-title page="status">Status</material-title>


            <material-button ng-click="openDrawer('left')">Open Drawer</material-button>

            <material-menu-button button-config="{icon:'navigation-white:apps_white'}" menu-config="{icons:hasMenuIcons()}">
                <material-item material-icon="action-black:dashboard_black">Dashboard</material-item>
                <material-item material-icon="action-black:credit_card_black">Credit</material-item>
                <material-item material-icon="action-black:account_balance_black">Balance</material-item>
                <material-divider></material-divider>
                <material-item material-icon="action-black:alarm_black">Set Alarm</material-item>
                <material-item material-icon="action-black:announcement_black">Announcements</material-item>
                <material-divider></material-divider>
                <material-item ng-click="toggleMenuIcons($event)">Toggle Icons</material-item>
            </material-menu-button>

            <material-menu-button button-config="{icon:'navigation-white:more_vert_white'}">
                <material-item>Menu Item 1</material-item>
                <material-item>Menu Item 2</material-item>
                <material-item>Menu Item 3</material-item>
                <material-divider></material-divider>
                <material-item>Menu Item 4</material-item>
                <material-item>Menu Item 5</material-item>
            </material-menu-button>
        </material-appbar>

        <div class="page-content">
            <material-card>
                <material-toolbar>
                    <material-title>Card with Toolbar</material-title>
                    <material-button ng-click="openDrawer('right')">Forms</material-button>
                </material-toolbar>
            </material-card>

            <material-drawer drawer-id="left" drawer-config="{position:'left', modal: isModal()}">
                <material-button ng-click="toggleModal()">Toggle Modal</material-button>
            </material-drawer>

            <material-drawer drawer-id="right" drawer-config="{position:'right'}">
                <material-textfield label="First Name" ng-model="firstName"></material-textfield>
                <material-textfield label="Last Name" ng-model="lastName"></material-textfield>
                <material-textfield label="Address" ng-model="address"></material-textfield>
                <material-textfield label="City" ng-model="address"></material-textfield>
                <material-datefield label="Date of Birth" ng-model="firstName"></material-datefield>
            </material-drawer>

            <material-drawer drawer-id="right2" drawer-config="{position:'right'}" style="width: 50%;">
                <material-button ng-click="openDrawer('right3')">We need to go deeper</material-button>
            </material-drawer>


            <material-drawer drawer-id="right3" drawer-config="{position:'right'}">
                <material-button ng-click="closeDrawer('right3')">Go back</material-button>
            </material-drawer>
        </div>
    </body>
</html>