html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

material-content,
.material-content {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin: 0;
	padding: @material-content-spacing;
	overflow-x: hidden;
	overflow: visible;
}

material-row,
.material-row {
	display: flex;
	flex-direction: row;
	overflow: visible;
	width: 100%;
}

material-buttonbar,
.material-buttonbar {
	.material-row;

	justify-content: flex-end;
	padding: 0 @material-content-spacing;

	material-button,
	.material-button {
		margin-left: @material-content-spacing;
		.material-text {
			color: @material-primary-color-darker;
			font-weight: 500;
			font-size: 1.1em;

			&:hover {
				color: @material-primary-color-dark;
			}
		}
	}
}