html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
material-divider,
.material-divider {
  display: block;
  height: 1px;
  background-color: #dedede;
  margin: 6px 0;
}
material-icon,
.material-icon {
  margin: auto 0;
  width: 24px;
  height: 24px;
  display: inline-block;
}
material-item,
.material-item {
  display: block;
  text-decoration: none;
  font-weight: normal;
  padding: 8px 24px;
  font-size: 13px;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  vertical-align: bottom;
}
material-item:hover,
.material-item:hover {
  background: #f7f7f7;
}
material-item.material-has-icon,
.material-item.material-has-icon {
  padding-left: 64px;
}
material-item > .material-icon,
.material-item > .material-icon {
  position: absolute;
  top: 6px;
  left: 24px;
}
material-item > .material-text,
.material-item > .material-text {
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  line-height: 20px;
}
material-title,
.material-title {
  display: block;
  text-align: left;
  font-size: 2em;
  color: #fff;
  font-weight: 300;
  padding: 0;
  height: 64px;
  line-height: 64px;
  color: #000;
  padding: 0 20px;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
}
material-title h2,
.material-title h2 {
  display: inline;
  font-size: 0.7em;
  margin-left: 20px;
  color: #ababab;
  font-weight: normal;
}
material-title.material-has-icon,
.material-title.material-has-icon {
  padding-left: 64px;
}
material-title.material-has-icon > .material-icon,
.material-title.material-has-icon > .material-icon {
  position: absolute;
  top: 20px;
  left: 20px;
}
material-button,
.material-button {
  display: inline-block;
  position: relative;
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border: 1px solid transparent;
}
material-button .material-text,
.material-button .material-text {
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 24px;
}
material-toolbar,
.material-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 64px;
  background-color: #4cbae9;
}
material-toolbar > material-title,
.material-toolbar > material-title,
material-toolbar > .material-title,
.material-toolbar > .material-title {
  color: #fff;
  flex: 1;
  padding: 0;
}
material-toolbar material-button,
.material-toolbar material-button,
material-toolbar .material-button,
.material-toolbar .material-button {
  height: 50px;
  padding: 12px;
  color: #1788b8;
}
material-appbar,
.material-appbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 64px;
  background-color: #4cbae9;
  background-color: #1788b8;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}
material-appbar > material-title,
.material-appbar > material-title,
material-appbar > .material-title,
.material-appbar > .material-title {
  color: #fff;
  flex: 1;
  padding: 0;
}
material-appbar material-button,
.material-appbar material-button,
material-appbar .material-button,
.material-appbar .material-button {
  height: 50px;
  padding: 12px;
  color: #1788b8;
}
material-appbar material-button,
.material-appbar material-button,
material-appbar .material-button,
.material-appbar .material-button {
  color: #fff;
}
material-card,
.material-card {
  display: block;
  background-color: white;
  margin: 12px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 0px inset, rgba(0, 0, 0, 0.03) 0px -1px 0px inset, 0 1px 4px rgba(0, 0, 0, 0.25);
  box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 0px inset, rgba(0, 0, 0, 0.03) 0px -1px 0px inset, 0 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
material-card material-toolbar,
.material-card material-toolbar,
material-card .material-toolbar,
.material-card .material-toolbar {
  background-color: transparent;
  border-bottom: 1px solid #dedede;
}
material-card material-toolbar material-title,
.material-card material-toolbar material-title,
material-card .material-toolbar material-title,
.material-card .material-toolbar material-title,
material-card material-toolbar .material-title,
.material-card material-toolbar .material-title,
material-card .material-toolbar .material-title,
.material-card .material-toolbar .material-title {
  padding: 0 12px;
  color: #1a1a1a;
}
material-card material-title,
.material-card material-title,
material-card .material-title,
.material-card .material-title {
  display: block;
  color: #1788b8;
  font-weight: 300;
  height: 36px;
  line-height: 36px;
}
material-card li,
.material-card li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.material-overlay-backdrop {
  -webkit-transition: opacity 8ms;
  transition: opacity 8ms;
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 10;
}
.material-overlay-backdrop.hide {
  display: none;
  opacity: 0;
  -webkit-transition: opacity 8s;
  transition: opacity 8s;
}
/**
 * main overlay
 */
.material-overlay {
  top: 125px;
  z-index: 11;
  display: block;
  background: #fff;
  position: relative;
  margin: auto;
  padding: 30px 42px;
  border: 1px solid #787878;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
.material-overlay .material-overlay-header {
  margin: 0 0 16px;
}
.material-overlay .material-overlay-header .material-overlay-header--close {
  padding: 17px;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
}
material-menu,
.material-menu {
  display: block;
  position: absolute;
  z-index: 100;
  top: -10000px;
  min-width: 200px;
  padding: 0 0 6px;
  border-bottom: 1px solid #dedede;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
material-menu.material-menu-opened,
.material-menu.material-menu-opened,
material-menu.material-menu-opened-remove,
.material-menu.material-menu-opened-remove {
  top: 0;
}
material-menu material-title,
.material-menu material-title,
material-menu .material-title,
.material-menu .material-title {
  color: #1788b8;
  border-bottom: 1px solid #f7f7f7;
}
material-menu material-item:first-of-type,
.material-menu material-item:first-of-type,
material-menu .material-item:first-of-type,
.material-menu .material-item:first-of-type {
  margin-top: 5px;
}
material-menu.material-menu-has-icons material-item,
.material-menu.material-menu-has-icons material-item,
material-menu.material-menu-has-icons .material-item,
.material-menu.material-menu-has-icons .material-item {
  padding-left: 64px;
}
material-menu-button,
.material-menu-button {
  display: block;
  position: relative;
  height: 50px;
}
material-menu-button:last-child,
.material-menu-button:last-child {
  margin-right: 7px;
}
material-menu-button > material-menu,
.material-menu-button > material-menu,
material-menu-button > .material-menu,
.material-menu-button > .material-menu {
  right: 0;
  -webkit-transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
}
material-menu-button > material-menu.material-menu-opened,
.material-menu-button > material-menu.material-menu-opened,
material-menu-button > .material-menu.material-menu-opened,
.material-menu-button > .material-menu.material-menu-opened {
  opacity: 1;
}
material-sidenav-button,
.material-sidenav-button {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
}
material-sidenav-button > material-button,
.material-sidenav-button > material-button,
material-sidenav-button > .material-button,
.material-sidenav-button > .material-button {
  margin: 7px;
}
material-sidenav-button material-menu,
.material-sidenav-button material-menu,
material-sidenav-button .material-menu,
.material-sidenav-button .material-menu {
  left: 0;
  -webkit-transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: translateX(-200px);
}
material-sidenav-button material-menu.material-menu-opened,
.material-sidenav-button material-menu.material-menu-opened,
material-sidenav-button .material-menu.material-menu-opened,
.material-sidenav-button .material-menu.material-menu-opened {
  transform: translateX(0);
}
material-sidenav-button material-menu material-item,
.material-sidenav-button material-menu material-item,
material-sidenav-button .material-menu material-item,
.material-sidenav-button .material-menu material-item,
material-sidenav-button material-menu .material-item,
.material-sidenav-button material-menu .material-item,
material-sidenav-button .material-menu .material-item,
.material-sidenav-button .material-menu .material-item {
  padding: 13px 24px;
  font-weight: 500;
  color: #222;
  font-size: 14px;
}
material-sidenav-button material-menu material-item:hover,
.material-sidenav-button material-menu material-item:hover,
material-sidenav-button .material-menu material-item:hover,
.material-sidenav-button .material-menu material-item:hover,
material-sidenav-button material-menu .material-item:hover,
.material-sidenav-button material-menu .material-item:hover,
material-sidenav-button .material-menu .material-item:hover,
.material-sidenav-button .material-menu .material-item:hover {
  color: #444;
}
material-datepicker,
.material-datepicker {
  display: block;
  width: 272px;
  background-color: #fff;
  border: 1px solid #dedede;
}
.material-datepicker-date {
  -webkit-font-smoothing: antialiased;
}
.material-datepicker-date h4 {
  background-color: #1788b8;
  color: white;
  font-size: 14px;
  font-weight: 500;
  vertical-align: middle;
  line-height: 30px;
  height: 30px;
  text-align: center;
  margin: 0;
}
.material-datepicker-date h1,
.material-datepicker-date h2,
.material-datepicker-date h3 {
  cursor: pointer;
  background-color: #4cbae9;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  text-align: center;
  font-weight: 500;
}
.material-datepicker-date h1.view-active,
.material-datepicker-date h2.view-active,
.material-datepicker-date h3.view-active {
  color: #fff;
}
.material-datepicker-date h2 {
  padding-top: 12px;
  font-size: 24px;
  text-transform: uppercase;
}
.material-datepicker-date h1 {
  font-size: 52px;
  padding-top: 2px;
}
.material-datepicker-date h3 {
  font-size: 22px;
  padding: 4px 0 12px;
}
.material-datepicker-view {
  height: 252px;
  overflow: auto;
  margin: 10px;
}
.material-datepicker-view table {
  display: block;
  width: 252px;
}
.material-datepicker-view tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.material-datepicker-view tr th,
.material-datepicker-view tr td {
  display: block;
  width: 36px;
  height: 36px;
}
.material-datepicker-view th {
  color: #787878;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  line-height: 36px;
}
.material-datepicker-view td .material-btn.btn-text {
  color: #000;
  font-weight: normal;
  padding: 0;
  text-align: center;
  height: 36px;
  width: 36px;
}
.material-datepicker-view td .material-btn.btn-text.date-active {
  background-color: #4cbae9;
  color: #fff;
  border-radius: 18px;
  -webkit-transition: none;
  transition: none;
}
.material-datepicker-view td .material-btn.btn-text[disabled] {
  color: #c4c4c4;
}
.material-datepicker-bar {
  height: 46px;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.material-datepicker-bar button {
  margin-right: 26px;
}
material-input-group label,
.material-input-group label {
  display: block;
  font-size: 16px;
}
material-input-group textarea,
.material-input-group textarea,
material-input-group input[type="text"],
.material-input-group input[type="text"],
material-input-group input[type="password"],
.material-input-group input[type="password"],
material-input-group input[type="datetime"],
.material-input-group input[type="datetime"],
material-input-group input[type="datetime-local"],
.material-input-group input[type="datetime-local"],
material-input-group input[type="date"],
.material-input-group input[type="date"],
material-input-group input[type="month"],
.material-input-group input[type="month"],
material-input-group input[type="time"],
.material-input-group input[type="time"],
material-input-group input[type="week"],
.material-input-group input[type="week"],
material-input-group input[type="number"],
.material-input-group input[type="number"],
material-input-group input[type="email"],
.material-input-group input[type="email"],
material-input-group input[type="url"],
.material-input-group input[type="url"],
material-input-group input[type="search"],
.material-input-group input[type="search"],
material-input-group input[type="tel"],
.material-input-group input[type="tel"],
material-input-group input[type="color"],
.material-input-group input[type="color"] {
  display: block;
  border-width: 0 0 1px 0;
  padding-top: 2px;
  line-height: 26px;
  padding-bottom: 1px;
}
material-input-group textarea:focus,
.material-input-group textarea:focus,
material-input-group input[type="text"]:focus,
.material-input-group input[type="text"]:focus,
material-input-group input[type="password"]:focus,
.material-input-group input[type="password"]:focus,
material-input-group input[type="datetime"]:focus,
.material-input-group input[type="datetime"]:focus,
material-input-group input[type="datetime-local"]:focus,
.material-input-group input[type="datetime-local"]:focus,
material-input-group input[type="date"]:focus,
.material-input-group input[type="date"]:focus,
material-input-group input[type="month"]:focus,
.material-input-group input[type="month"]:focus,
material-input-group input[type="time"]:focus,
.material-input-group input[type="time"]:focus,
material-input-group input[type="week"]:focus,
.material-input-group input[type="week"]:focus,
material-input-group input[type="number"]:focus,
.material-input-group input[type="number"]:focus,
material-input-group input[type="email"]:focus,
.material-input-group input[type="email"]:focus,
material-input-group input[type="url"]:focus,
.material-input-group input[type="url"]:focus,
material-input-group input[type="search"]:focus,
.material-input-group input[type="search"]:focus,
material-input-group input[type="tel"]:focus,
.material-input-group input[type="tel"]:focus,
material-input-group input[type="color"]:focus,
.material-input-group input[type="color"]:focus {
  outline: 0;
}
material-input-group input,
.material-input-group input,
material-input-group textarea,
.material-input-group textarea {
  background: none;
}
material-input-group,
.material-input-group {
  padding-bottom: 2px;
  margin: 10px 0 8px 0;
  position: relative;
  display: block;
}
material-input-group label,
.material-input-group label {
  transform: translate3d(0, 22px, 0);
  transform-origin: left center;
  transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
}
material-input-group label,
.material-input-group label {
  transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
}
material-input-group input,
.material-input-group input,
material-input-group textarea,
.material-input-group textarea {
  border-bottom-width: 1px;
  transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
}
material-input-group input,
.material-input-group input,
material-input-group textarea,
.material-input-group textarea {
  color: #17191a;
  border-color: #17191a;
}
material-input-group input:-ms-input-placeholder,
.material-input-group input:-ms-input-placeholder,
material-input-group textarea:-ms-input-placeholder,
.material-input-group textarea:-ms-input-placeholder {
  color: #17191a;
}
material-input-group input::-webkit-input-placeholder,
.material-input-group input::-webkit-input-placeholder,
material-input-group textarea::-webkit-input-placeholder,
.material-input-group textarea::-webkit-input-placeholder {
  color: #17191a;
}
material-input-group label,
.material-input-group label {
  font-size: 1em;
  z-index: 1;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  color: #17191a;
}
material-input-group label:hover,
.material-input-group label:hover {
  cursor: text;
}
material-input-group.material-input-focused label,
.material-input-group.material-input-focused label {
  transform: translate3d(0, 4px, 0) scale(0.75);
}
material-input-group.material-input-focused input,
.material-input-group.material-input-focused input,
material-input-group.material-input-focused textarea,
.material-input-group.material-input-focused textarea {
  border-bottom-width: 2px;
}
material-input-group.material-input-focused input,
.material-input-group.material-input-focused input,
material-input-group.material-input-focused textarea,
.material-input-group.material-input-focused textarea {
  border-color: #4cbae9;
}
material-input-group.material-input-focused label,
.material-input-group.material-input-focused label {
  color: #4cbae9;
}
material-input-group.material-input-focused input,
.material-input-group.material-input-focused input {
  padding-bottom: 0px;
}
material-input-group.material-input-has-value label,
.material-input-group.material-input-has-value label {
  transform: translate3d(0, 4px, 0) scale(0.75);
}
material-input-group.material-input-has-value:not(.material-input-focused) label,
.material-input-group.material-input-has-value:not(.material-input-focused) label {
  transform: translate3d(0, 4px, 0) scale(0.75);
}
material-input-group.material-input-has-value:not(.material-input-focused) label,
.material-input-group.material-input-has-value:not(.material-input-focused) label {
  color: #17191a;
}
material-input-group[disabled] input,
.material-input-group[disabled] input,
material-input-group[disabled] textarea,
.material-input-group[disabled] textarea {
  border-bottom-width: 0px;
}
material-input-group[disabled] input,
.material-input-group[disabled] input,
material-input-group[disabled] textarea,
.material-input-group[disabled] textarea {
  background-size: 3px 1px;
  background-position: 0 bottom;
  background-size: 2px 1px;
  background-repeat: repeat-x;
  pointer-events: none;
  order-bottom-color: #f1f1f1;
  color: #17191a;
  background-image: linear-gradient(to right, #f1f1f1 0%, #f1f1f1 50%, rgba(0, 0, 0, 0) 0%);
}
material-input-group[disabled] label,
.material-input-group[disabled] label {
  transform: translate3d(0, 4px, 0) scale(0.75);
}
material-input-group[disabled] *:not(.material-input-has-value) label,
.material-input-group[disabled] *:not(.material-input-has-value) label {
  transform: translate3d(0, 22px, 0);
  transform-origin: left center;
  transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
}
material-drawer,
.material-drawer {
  position: absolute;
  width: 40%;
  top: 0;
  bottom: 0;
  background-color: #fff;
  overflow: auto;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  left: 0;
  transform: translate3d(-100%, 0, 0);
}
material-drawer.material-drawer-opened,
.material-drawer.material-drawer-opened,
material-drawer.material-drawer-opened-remove,
.material-drawer.material-drawer-opened-remove {
  -webkit-transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
material-drawer.material-drawer-left.material-drawer-opened,
.material-drawer.material-drawer-left.material-drawer-opened {
  transform: translate3d(0, 0, 0);
}
material-drawer.material-drawer-right,
.material-drawer.material-drawer-right {
  left: 100%;
  transform: translate3d(0, 0, 0);
}
material-drawer.material-drawer-right.material-drawer-opened,
.material-drawer.material-drawer-right.material-drawer-opened {
  transform: translate3d(-100%, 0, 0);
}
.material-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: -100000px;
  background-color: rgba(0, 0, 0, 0);
}
.material-backdrop.material-backdrop-opened,
.material-backdrop.material-backdrop-opened-remove {
  -webkit-transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  left: 0;
}
.material-backdrop.material-backdrop-opened {
  background-color: rgba(0, 0, 0, 0.5);
}
.material-list {
  padding: 8px 0px 8px 0px;
}
.material-item-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
  padding: 0px 0px 0px 0px;
}
/**
 * The left tile for a list item.
 */
.material-tile-left {
  min-width: 56px;
  margin-right: -16px;
}
/**
 * The center content tile for a list item.
 */
.material-tile-content {
  flex: 1;
  padding: 8px 16px;
  text-overflow: ellipsis;
}
.material-tile-content h3 {
  margin: 0 0 3px 0;
  font-weight: 400;
  font-size: 16px;
}
.material-tile-content h4 {
  margin: 0 0 3px 0;
  font-weight: 400;
  font-size: 14px;
}
.material-tile-content p {
  margin: 0 0 3px 0;
  font-size: 12px;
}
/**
 * The right tile for a list item.
 */
.material-tile-right {
  padding-right: 0px;
}
